body {
    background-color: #745CC1;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; /* Default: auto */
}

img {
    margin-top: 64px;
}

input {
    display: block;
    width: 100%;
    margin-bottom: 50px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
}

button {
    width: 100%;
    height: 50px;
    background-color: #FFFFFF;
    border-radius: 40px;
    text-transform: uppercase;
    box-shadow: 0 2px 3px 0px #000;
    border: none;
    font-weight: 500;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

form {
    padding: 60px 60px 5px 60px;
}

a {
    color: #fff;
    text-decoration: none;
    text-shadow: 1px 0px 1px #000000;
    font-size: 14px;
    font-weight: 400;
} 

::placeholder { /*Maneira de modifica placeholder*/
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
}